.page {
  font-family: var(--main-font, 'IBM Plex Mono', monospace);
  font-weight: normal;
  font-size: 18px;
  background-color: var(--bg-color, #FFC2E6);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
  align-content: stretch;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-block-size: 48rem;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-text-color, #353430);
  border-block-end: 1px solid var(--accent-text-color, #353430);
  inset-block-end: 20px;
  inset-inline-start: 20px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-text-color, #353430);
  border-block-start: 1px solid var(--accent-text-color, #353430);
  inset-block-start: 20px;
  inset-inline-end: 20px;
}

.header__theme-menu {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  color: var(--accent-text-color, #353430);
  font-family: inherit;
  line-height: 1.125rem;
  text-transform: lowercase;
  background-color: inherit;
  min-inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color, rgba(50,49,45, 0.4));
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-text-color, #353430);
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__dark-decoration {
  visibility: hidden;
}

.heading {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-inline-start: -20px;
  color: var(--heading-color, #FFC2E6);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color, #FF8DCB);
}

.header__text-block {
  grid-column: 2;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: end;
  inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
}

.title-decor {
  color: var(--subtitle-text-color);
  font-weight: bold;
  font-size: inherit;
  line-height: 1.463rem;
  background-color: var(--accent-color, #FF8DCB);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 60px 20px;
}

.content__article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.why-block .content__title {
  grid-row: span 2;
}

.content__title {
  color: var(--accent-text-color, #353430);
  font-weight: bold;
  font-size: inherit;
  line-height: 1.463rem;
}

.content__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__paragraph {
  color: var(--text-color, #353430);
  line-height: 1.463rem;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF8DCB);
}

.text-link:hover {
  border-block-end: 1px solid var(--text-color, #353430);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--text-color, #353430);
}

.what-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.what-block .content__title {
  grid-column: span 3;
  inline-size: 30%;
}

.how-block__text-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__subtitle {
  color: var(--subtitle-text-color, #353430);
  font-weight: inherit;
  background-color: var(--accent-color, #FF8DCB);
  line-height: 1.463rem;
}

.gallery__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "title title title"
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
  gap: 20px;
}

.gallery__title {
 grid-area: title;
}

.gallery__item-1 {
  grid-area: sunset;
}

.gallery__item-2 {
  grid-area: ice-cream;
}

.gallery__item-3 {
  grid-row: tape;
}

.gallery__item-4 {
  grid-row: books;
}

.gallery__item-5 {
  grid-column: street;
}

.image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  min-block-size: 48rem;
}

@media (width < 1024px) {
  .header,
  .footer {
    min-block-size: 64rem;
  }

  .header__theme-menu {
    grid-column-start: 2;
    justify-content: flex-end;
    align-items: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .what-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (width < 768px) {

  .header {
    padding: 10px;
    min-block-size: 41.75rem;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .heading {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text-block {
    grid-column: 1 / 3;
    inline-size: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
  }

  .content {
    gap: 50px;
    padding: 40px 10px;
  }

  .content__article {
    grid-template-columns: 1fr;
  }

  .what-block .content__title {
    inline-size: 100%;
  }

  .gallery__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    min-block-size: 41.75rem;
  }
}