:root {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-text-color: #353430;
  --subtitle-text-color: #353430;
  --heading-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --main-font: 'IBM Plex Mono';
  --bg-image: url(../images/cover-image-light.png);
  --button-hover-color: rgba(50,49,45, 0.4);
}